*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    // Top Bar Start 
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    color: #343a40;
    background: #e9ecef;
    // position: relative;
    .col-1{
        width: 300px ;
        height: 40px;
        display: flex ;
        align-items: center ;
        justify-content: center ;
        p{
            width: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .fa-twitter{
            margin-right: 30px;
            margin-left: 10px;
        }
    }
    .col-3{
        display: flex;
        align-items: center;
        justify-content:space-around;
        width: 200px ;
        .dropdown{
            .btn{
                background-color: transparent;
                color: black;
                font-weight: bold;
                border: none;
                &:hover{
                    background-color: transparent;
                    color: black;
                    font-weight: bold;
                    border: none;
                }
            }
        }
    }
}
/* Top Bar End  */

// Nav Start  
nav{
    // position: relative;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left{
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 500px;
        .dropdown-menu{
            top: 23px !important;
        }
        .btn{
            background-color: transparent;
            color: black;
            font-weight: bold;
            border: none;
            &:hover{
                background-color: transparent;
                color: black;
                font-weight: bold;
                border: none;
            }
        }
        #shop{
            width: 900px;
            height: 400px;
            line-height: 30px;
            position: relative;
            .left{
                flex-direction: column;
                width: 300px;
                position: absolute;
                margin-top: 40px;
            }
            .middle{
                width: 300px;
                margin-top: 40px;
                position: absolute;
                left: 300px;
            }
            .right{
                width: 300px;
                height: 400px;
                position: absolute;
                left: 600px;
                img{
                    width: 300px;
                    height: 390px;
                    object-fit: cover;
                }
            }
        }
        span{
            cursor: pointer;
        }
        .logo{
            font-weight: bold;
            text-decoration: none;
            color: black;
            margin-left: 30px;
            margin-right: 20px;
        }
    }
    .right{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 600px;
        margin-right: 10px;
        form{
            margin-right: 150px;
            input{
                height: 30px;
                background-color: transparent;
                border: none;
                &:focus{
                    outline: none;
                    border-bottom: #6d6d6d72 1px solid;
                }
            }
            button{
                border: none;
                background-color: transparent;
            }
        }
        i{
            cursor: pointer;
        }
    }
}
// Nav End 
}

main{
    .section1{
        position: relative;
        left: 23%;
        margin-top: 100px;
        max-width: 50%;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h6{
            color: #bcac76;
            margin-bottom: 1rem;
            font-weight: 700;
            line-height: 1.3;
            font-size: 1rem;
            letter-spacing: 4px;
        }
        h1{
            font-size: 4.5rem;
            font-weight: bold;
            line-height: 1.3;
        }
        p{
            font-size: 1.25rem;
            color: #868e96;
            letter-spacing: 1px;
            margin-top: 50px;
            width: 600px;
        }
    }
    .section2{
        margin-top: 100px;
        h2{
            font-size: 40px;
            font-weight: bold;
        }
        h5{
            letter-spacing: 5px;
            color: #868e96;
            font-weight: 500;
        }
        p{
            color: #868e96;
            letter-spacing: 1px;
            font-weight: 500;
            width: 500px;
        }
        .part1{
            left: 23%;
            position: relative;
            max-width: 1140px;
            h6{
                color: #bcac76;
                margin-bottom: 1rem;
                font-weight: 700;
                line-height: 1.3;
                font-size: 1rem;
                letter-spacing: 4px;
            }
            h1{
                font-size: 4.5rem;
                font-weight: bold;
                line-height: 1.3;
            }
        }
        .part2{
            margin-top: 100px;
            display: flex;
            .left{
                margin-left: 200px;
                img{
                    width: 350px;
                }
            }
            .right{
                margin-left: 130px;
                width: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .part3{
            margin-top: 40px;
            margin-bottom: 100px;
            display: flex;
            .left{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 200px;
            }
            .right{
                margin-left: 100px;
                img{
                    width: 500px;
                }
            }
        }
    }
    .section3{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 600px;
        background-color: #f8f9fa;
        h3{
            font-weight: bold;
            font-size: 30px;
        }
        p{
            font-weight: 500;
            color: #868e96;
        }
        .left{
            width: 500px;
            p{
                margin-top: 30px;
                font-size: 20px;
                font-weight: 500;
                color: #868e96;
            }
        }
        .right{
            width: 600px;
            .top{
                display: flex;
                gap: 50px;
            }
            .bottom{
                display: flex;
                gap: 50px;
            }
        }
    }
    .section4{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        width: 100%;
        height: 600px;
        .left {
            img{
                border-radius: 50%;
                width: 350px;
                object-fit: cover;   
            }
        }
        .right{
            width: 600px;
            h2{
                font-family:'Times New Roman', Times, serif;
            }
            p{
                font-size: 18px;
                font-weight: 500;
                color: #868e96;
            }
            h3{
                color: #bcac76;
                margin-bottom: 40px;
            }
        }
    }
    .section5{
        .top{
            position: relative;
            width: 50%;
            height: 300px;
            left: 25%;
            h6{
                color: #bcac76;
                margin-bottom: 1rem;
                font-weight: 700;
                line-height: 1.3;
                font-size: 1rem;
                letter-spacing: 4px;
            }
            h1{
                font-size: 4.5rem;
                font-weight: bold;
                line-height: 1.3;
            }
            p{
                color: #868e96;
                margin-top: 50px;
                width: 750px;
            }
        }
        .bottom{
            .card-container{
                position: relative;
                left: 30%;
                width: 1000px;
                display: flex;
                gap: 30px;
                flex-direction: row;
                flex-wrap: wrap;
                .card{
                    width: 200px;
                    border: none;
                    img{
                        width: 170px;
                        border-radius: 50%;
                    }
                    text-align: center;
                    align-items: center;
                }
            }
        }
    }
    .section6{
        height: 400px;
        background-color: #f8f9fa;
        display: flex;
        align-items: center;
        .swiper-pagination{
            --swiper-theme-color: #bcac76;
        }
        .swiper {
            width: 100%;
            height: 50%;
          }
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
          }
      
          .swiper-slide img {
            display: block;
            width: 150px;
            height: 150px;
            object-fit: cover;
          }
    }
    .section7{
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            p{
                width: 400px;
                color: #868e96;
            }
        }
        h1{
            text-align: center;
            width: 1100px;
        }
    }
}

footer{
    height: 700px;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(225, 225, 225, 0.262);
        width: 100%;
        height: 300px;
        .ft1{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 280px;
            line-height: 30px;
            justify-content: space-around;
        }
    }
    .middle{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 500px;
        font-size: 20px;
        .left{
            width: 400px;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            strong{
                margin-bottom: 50px;
                color: black;
            }
            .email{
                margin-top: 20px;
                border-bottom: 1px solid gray;
                display: flex;
                align-items: center;
                justify-content: space-between;
                input{
                    border: none;
                    width: 250px;
                    height: 35px;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .right{
            width: 600px;
            display: flex;
            justify-content: space-between;
            .col{
                display: flex;
                flex-direction: column;
                a{
                    text-decoration: none;
                    color: #343a40;
                }
            }
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .right{
           a{
                text-decoration: none;
                color: #343a40;
                margin-left: 10px;
                &:hover{
                    border-bottom: #343a40 1px solid;
                }
           }
        }
    }
}