*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
// Top Bar Start 
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    color: #343a40;
    background: #e9ecef;
    position: relative;
    .col-1{
        width: 300px ;
        height: 40px;
        display: flex ;
        align-items: center ;
        justify-content: center ;
        p{
            width: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .fa-twitter{
            margin-right: 30px;
            margin-left: 10px;
        }
    }
    .col-3{
        display: flex;
        align-items: center;
        justify-content:space-around;
        width: 200px ;
        .dropdown{
            .btn{
                background-color: transparent;
                color: black;
                font-weight: bold;
                border: none;
                &:hover{
                    background-color: transparent;
                    color: black;
                    font-weight: bold;
                    border: none;
                }
            }
        }
    }
}
/* Top Bar End  */

// Nav Start  
nav{
    position: relative;
    height: 80px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        .col-1{
            width: 500px;
            margin-left: 30px;
            display: flex;
            align-items: center;
            height: 200px;
            i{
                margin-right: 10px;
            }
        }
        p{
            margin-left: 30px;
            margin-right: 30px;
        }
        .btn{
            background-color: transparent;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            color: #818181;
            border: none;
            &:hover{
                background-color: transparent;
                color: #818181;
                border: none;
            }
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
          }
        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
          }
    }
        
    .left{
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 500px;
        .dropdown-menu{
            top: 23px !important;
        }
        .btn{
            background-color: transparent;
            color: black;
            font-weight: bold;
            border: none;
            &:hover{
                background-color: transparent;
                color: black;
                font-weight: bold;
                border: none;
            }
        }
        #shop{
            width: 900px;
            height: 400px;
            line-height: 30px;
            position: relative;
            .left{
                flex-direction: column;
                width: 300px;
                position: absolute;
                margin-top: 40px;
            }
            .middle{
                width: 300px;
                margin-top: 40px;
                position: absolute;
                left: 300px;
            }
            .right{
                width: 300px;
                height: 400px;
                position: absolute;
                left: 600px;
                img{
                    width: 300px;
                    height: 390px;
                    object-fit: cover;
                }
            }
        }
        #icons{
            width: 800px;
            height: 250px;
            .top{
                display: grid;
                grid-template-columns: auto auto auto auto auto auto;
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    &:hover{
                        a{
                            border-bottom: #212529 2px solid;
                        }
                    }
                    a{
                        text-decoration: none;
                        color: #212529;
                    }
                }
            }
            .bottom{
                width: 800px;
                height: 40px;
                background-color: #9b8a52;
                color: #212529;
            }
        }
        #pages{
            width: 1100px;
            height: 500px;
            position: relative;
            .p1{
                position: absolute;
                // top: 0;
                // left: 0;
            }
            .p2{
                position: absolute;
                left:285px ;
            }
            .p3{
                position: absolute;
                left: 565px;
            }
            .p4{
                position: absolute;
                right: 0;
            }
            img{
                width: 250px;
                height: 150px;
                object-fit: cover;
            }
            div{
                display: flex;
                flex-direction: column;
                width: 250px;
                font-size: 13px;
                a{
                    text-decoration: none;
                    color: #7f7f80;
                    &:hover{
                        color: #212529;
                    }
                }
            }
        }
        span{
            cursor: pointer;
        }
        .logo{
            font-weight: bold;
            text-decoration: none;
            color: black;
            margin-left: 30px;
            margin-right: 20px;
        }
    }
    .right{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 600px;
        margin-right: 10px;
        form{
            margin-right: 150px;
            input{
                height: 30px;
                border: none;
                background-color: transparent;
                &:focus{
                    outline: none;
                    border-bottom: #6d6d6d72 1px solid;
                }
            }
            button{
                border: none;
                background-color: transparent;
            }
        }
        i{
            cursor: pointer;
        }
    }
}
// Nav End 

// Footer Start 
footer{
    height: 700px;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(225, 225, 225, 0.262);
        width: 100%;
        height: 300px;
        .ft1{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 280px;
            line-height: 30px;
            justify-content: space-around;
        }
    }
    .middle{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 500px;
        font-size: 20px;
        .left{
            width: 400px;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            strong{
                margin-bottom: 50px;
                color: black;
            }
            .email{
                margin-top: 20px;
                border-bottom: 1px solid gray;
                display: flex;
                align-items: center;
                justify-content: space-between;
                input{
                    border: none;
                    width: 250px;
                    height: 35px;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .right{
            width: 600px;
            display: flex;
            justify-content: space-between;
            .col{
                display: flex;
                flex-direction: column;
                a{
                    text-decoration: none;
                    color: #343a40;
                }
            }
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .right{
           a{
                text-decoration: none;
                color: #343a40;
                margin-left: 10px;
                &:hover{
                    border-bottom: #343a40 1px solid;
                }
           }
        }
    }
}
// Footer End 

// Main Start 
main{
    .section1{
        position: relative;
        top: -80px;
        z-index: -1;
        width: 100%;
        height: 600px;
        background:url(../images/magicpattern-blob-1685191168263.png) no-repeat;
        background-size: 900px;
        background-position: 100%;
        background-position-x: -200px;
        background-position-y:-400px;
        .swiper {
            width: 100%;
            height: 100%;
            background-color: transparent;
            --swiper-theme-color:#9b8a52 ;
            .swiper-slide {
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                .left{
                    width: 600px;
                    height: 500px;
                    display: flex;
                    align-items:flex-start;
                    justify-content:center;
                    flex-direction: column;
                    gap: 40px;
                    h6{
                        letter-spacing: 5px;
                        font-size: 18px;
                    }
                    h1{
                        font-weight: bold;
                        font-size: 70px;
                    }
                    p{
                        font-size: 18px;
                        color: #7f7f80;
                    }
                    button{
                        background-color: transparent;
                        border: #9b8a52 2px solid;
                        color: #9b8a52;
                        font-weight: 500;
                        width: 200px;
                        height: 40px;
                        &:hover{
                            background-color: #9b8a52;
                            color: #212529;
                        }
                    }
                }
                .right{
                    img{
                        width: 600px;
                        height: 600px;
                        object-fit: contain;
                        
                    }
                    .lila{
                        background: url(../images/blob-lila.svg) no-repeat;
                        background-size: 700px;
                        background-position-x: 10px;
                        background-position-y: -100px;
                    }
                    .pink{
                        background: url(../images/blob-pink.svg) no-repeat;
                        background-size: 700px;
                        background-position-x: 10px;
                        background-position-y: -100px;
                    }
                    .bej{
                        background: url(../images/blob-bej.svg) no-repeat;
                        background-size: 700px;
                        background-position-x: 10px;
                        background-position-y: -100px;
                    }
                }
              }
        }
    }
    .section2{
        .top{
            width: 700px;
            margin-left: 180px;
            h3{
                font-size: 40px;
                font-weight: bold;
            }
            p{
                font-size: 20px;
                font-weight: bold;
                color: rgba(110, 110, 110, 0.79);
            }
        }
        .bottom{
            .first{
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 600px;
                .left{
                    width: 300px;
                    transition: transform 1s;
                    &:hover{
                        -ms-transform: scale(1.1); /* IE 9 */
                        -webkit-transform: scale(1.1); /* Safari 3-8 */
                        transform: scale(1.1);
                    }
                    img{
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                    }
                    a{
                        text-decoration: none;
                        color: #343a40;
                        text-align: start;
                        h3{
                            font-weight: bold;
                        }
                    }
                }
                .right{
                    position: relative;
                    transition: transform 1s;
                    &:hover{
                        -ms-transform: scale(1.1); /* IE 9 */
                        -webkit-transform: scale(1.1); /* Safari 3-8 */
                        transform: scale(1.1);
                    }
                    img{
                        width: 500px;
                        height: 500px;
                        object-fit: cover;
                    }
                    a{
                        h3{
                            font-weight: bold;
                            font-size: 40px;
                        }
                        position: absolute;
                        text-decoration: none;
                        color: #343a40;
                        text-align: start;
                        left: -100px;
                        top: 100px;
                    }
                }
            }
            .second{
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-bottom: 40px;
                .left{
                    position: relative;
                    transition: transform 1s;
                    &:hover{
                        -ms-transform: scale(1.1); /* IE 9 */
                        -webkit-transform: scale(1.1); /* Safari 3-8 */
                        transform: scale(1.1);
                    }
                    img{
                        width: 600px;
                        height: 600px;
                    }
                    a{
                        position: absolute;
                        left: -100px;
                        top: 130px;
                        text-decoration: none;
                        color: #343a40;
                        h3{
                            font-size: 40px;
                            font-weight: bold;
                        }
                    }
                }
                .right{
                    transition: transform 1s;
                    &:hover{
                        -ms-transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                    img{
                        width: 350px;
                        height: 350px;
                    }
                    a{
                        text-decoration: none;
                        color: #343a40;
                        h3{
                            font-size: 40px;
                            font-weight: bold;
                        } 
                    }
                }
            }
            .third{
                display: flex;
                align-items: center;
                justify-content: space-around;
                .left{
                    transition: transform 1s;
                    &:hover{
                        -ms-transform: scale(1.1); /* IE 9 */
                        -webkit-transform: scale(1.1); /* Safari 3-8 */
                        transform: scale(1.1);
                    }
                    img{
                        width: 200px;
                        height: 200px;

                    }
                    a{
                        text-decoration: none;
                        color: #343a40;
                        h3{
                            font-size: 30px;
                            font-weight: bold;
                        } 
                    }
                }
                .right{
                    transition: transform 1s;
                    position: relative;
                    &:hover{
                        -ms-transform: scale(1.1); /* IE 9 */
                        -webkit-transform: scale(1.1); /* Safari 3-8 */
                        transform: scale(1.1);
                    }
                    img{
                        width: 700px;
                        height: 700px;
                    }
                    a{
                        position: absolute;
                        left: -100px;
                        top: 150px;
                        text-decoration: none;
                        color: #343a40;
                        h3{
                            font-size: 40px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    .section3{
        width: 100%;
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: url('../images/ssshape.svg') no-repeat;
        background-color: #ebf7ff;
        .left{
            display: flex;
            flex-direction: column;
            height: 500px;
            justify-content: space-around;
            .red{
                color: #dc3545;
                font-weight: bold;
            }
            h3{
                font-weight: bold;
                font-size: 40px;
            }
            .pricebtn{
                width: 60px;
                height: 40px;
                border: none;
                border-radius: 8px;
                color: #fff;
                background-color: #dc3545;
            }
            .shopbtn{
                width: 130px;
                height:50px;
                border: 1px solid #212529;
                background-color: transparent;
                font-weight: bold;
                font-size: 16px;
                line-height: 1.6;
                transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
                &:hover{
                    color: #fff;
                    background-color: #212529;
                    border-color: #212529;
                }
            }
            .countDown{
                display: flex;
                align-items: center;
                // justify-content: center;
                width: 500px;
                height: 100px;
                background-color: #fff;
                div{
                    margin-left: 34px;
                    flex-basis: 100px;
                    p{
                        font-size: 40px;
                        margin-bottom: -14px;
                    }
                }
            }
        }
        .right{
            img{
                width: 400px;
                height: 500px;
            }
        }
    }
    .section4{
        width: 100%;
        .container{
            h2{
                font-weight: bold;
                margin-top: 100px;
            }
            p{
                font-size: 18px;
                font-weight: 500;
                color: #7f7f80;
                line-height: 30px;
                letter-spacing: 2px;
            }
            .catigories{
                display: flex;
                justify-content: space-between;
                .right{
                    a{
                        color: #bcac76;
                        letter-spacing: 5px;
                        &:hover{
                            color: #9b8a52;
                            border-bottom: #9b8a52 2px solid;
                        }
                    }
                }
                .left{
                    width: 500px;
                    display: flex;
                    justify-content: space-around;
                    a{
                        color: #7f7f80;
                        &:hover{
                            border-bottom: #212529 2px solid;
                            color: #212529;
                        }
                    }
                }
                a{
                    text-decoration: none;
                    color: #212529;
                    font-weight: bold;
                }
            }
            .card-container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 30px;
                .card{
                    position: relative;
                    border: none;
                    border-radius: 0;
                    width: 300px;
                    height: 470px;
                    .title{
                        font-weight: bold;
                        font-size: 25px;
                    }
                    img{
                        width: 300px;
                        height: 400px;
                        object-fit: cover;
                        transition: all linear 0.4s;
                    }
                    .hover-img{
                        height:380px ;
                         position: absolute;
                         left: 0;
                         top: 0;
                         opacity: 0;
                    }
                    .hidden-part{
                        visibility: hidden;
                        position: absolute;
                        top: 350px;
                        display: flex;
                        background-color: white;
                        align-items: center;
                        justify-content: space-between;
                        width: 300px;
                        height: 50px;
                        a{
                            text-decoration: none;
                            color: #212529;
                            &:hover{
                                border-bottom: #212529 1px solid;
                            }
                        }
                    }
                    .hidden-stars{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .stars{
                            visibility: hidden;
                        }
                    }
                    &:hover{
                        img{
                            opacity: o;
                        }
                        .hover-img{
                            opacity: 1;
                        }
                        .stars{
                            visibility: visible;
                        }
                        .hidden-part{
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .section5{
        background-color: #eae0bd;
        width: 1100px;
        height: 400px;
        position: relative;
        left: 13%;
        margin-bottom: 100px;
        margin-top: 150px;
        z-index: 98;
        img{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 300px;
            height: 500px;
            z-index: -1;
        }
        div{
            z-index: 99;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 400px;
            h1{
                font-size: 70px;
                font-weight: bold;
                letter-spacing: 3px;
            }
            h4{
                font-size: 35px;
                // letter-spacing: 2px;
            }
            button{
                height: 50px;
                width: 200px;
                background-color: transparent;
                letter-spacing: 3px;
                transition: 0.3s;
                font-weight: bold;
                &:hover{
                    background-color: #212529;
                    color: #fff;
                }
            }
        }
    }
}
