* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  /* Top Bar End  */
}
header .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  color: #343a40;
  background: #e9ecef;
}
header .top-bar .col-1 {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .top-bar .col-1 p {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header .top-bar .col-1 .fa-twitter {
  margin-right: 30px;
  margin-left: 10px;
}
header .top-bar .col-3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}
header .top-bar .col-3 .dropdown .btn {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
}
header .top-bar .col-3 .dropdown .btn:hover {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
}
header nav {
  height: 80px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
header nav .sidenav .col-1 {
  width: 500px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  height: 200px;
}
header nav .sidenav .col-1 i {
  margin-right: 10px;
}
header nav .sidenav p {
  margin-left: 30px;
  margin-right: 30px;
}
header nav .sidenav .btn {
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: #818181;
  border: none;
}
header nav .sidenav .btn:hover {
  background-color: transparent;
  color: #818181;
  border: none;
}
header nav .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
header nav .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
header nav .left {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
}
header nav .left .dropdown-menu {
  top: 23px !important;
}
header nav .left .btn {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
}
header nav .left .btn:hover {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
}
header nav .left #shop {
  width: 900px;
  height: 400px;
  line-height: 30px;
  position: relative;
}
header nav .left #shop .left {
  flex-direction: column;
  width: 300px;
  position: absolute;
  margin-top: 40px;
}
header nav .left #shop .middle {
  width: 300px;
  margin-top: 40px;
  position: absolute;
  left: 300px;
}
header nav .left #shop .right {
  width: 300px;
  height: 400px;
  position: absolute;
  left: 600px;
}
header nav .left #shop .right img {
  width: 300px;
  height: 390px;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav .left #icons {
  width: 800px;
  height: 250px;
}
header nav .left #icons .top {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
header nav .left #icons .top div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header nav .left #icons .top div:hover a {
  border-bottom: #212529 2px solid;
}
header nav .left #icons .top div a {
  text-decoration: none;
  color: #212529;
}
header nav .left #icons .bottom {
  width: 800px;
  height: 40px;
  background-color: #9b8a52;
  color: #212529;
}
header nav .left #pages {
  width: 1100px;
  height: 500px;
  position: relative;
}
header nav .left #pages .p1 {
  position: absolute;
}
header nav .left #pages .p2 {
  position: absolute;
  left: 285px;
}
header nav .left #pages .p3 {
  position: absolute;
  left: 565px;
}
header nav .left #pages .p4 {
  position: absolute;
  right: 0;
}
header nav .left #pages img {
  width: 250px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav .left #pages div {
  display: flex;
  flex-direction: column;
  width: 250px;
  font-size: 13px;
}
header nav .left #pages div a {
  text-decoration: none;
  color: #7f7f80;
}
header nav .left #pages div a:hover {
  color: #212529;
}
header nav .left span {
  cursor: pointer;
}
header nav .left .logo {
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-left: 30px;
  margin-right: 20px;
}
header nav .right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  margin-right: 10px;
}
header nav .right form {
  margin-right: 150px;
}
header nav .right form input {
  height: 30px;
  background-color: transparent;
  border: none;
}
header nav .right form input:focus {
  outline: none;
  border-bottom: rgba(109, 109, 109, 0.4470588235) 1px solid;
}
header nav .right form button {
  border: none;
  background-color: transparent;
}
header nav .right i {
  cursor: pointer;
}

main {
  position: relative;
  top: -80px;
  z-index: -1;
}
main .section1 {
  width: 100%;
  height: 700px;
}
main .section1 img {
  position: relative;
  top: -81px;
  z-index: -1;
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .section1 .text {
  position: absolute;
  top: 8%;
  left: 10%;
  text-align: center;
  font-weight: bold;
}
main .section1 .text a {
  text-decoration: none;
  color: goldenrod;
}
main .section1 .text a:hover {
  color: rgb(163, 125, 30);
}
main .section1 .text h1 {
  font-weight: bold;
  font-size: 60px;
}
main .section1 p {
  font-size: 20px;
  font-weight: 500;
}
main .section2 {
  margin-top: 100px;
}
main .section2 .container .card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
main .section2 .container .card-container .card {
  width: 400px;
  border: none;
}
main .section2 .container .card-container .card div a {
  text-decoration: none;
  color: #bcac76;
  font-weight: 500;
  margin-right: 20px;
}
main .section2 .container .card-container .card img {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .section2 .container .end {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .section2 .container .end a {
  text-decoration: none;
  color: #4d5256;
  font-size: 18px;
}

footer {
  height: 700px;
}
footer .top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(225, 225, 225, 0.262);
  width: 100%;
  height: 300px;
}
footer .top .ft1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  line-height: 30px;
  justify-content: space-around;
}
footer .middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  font-size: 20px;
}
footer .middle .left {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .middle .left strong {
  margin-bottom: 50px;
  color: black;
}
footer .middle .left .email {
  margin-top: 20px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .middle .left .email input {
  border: none;
  width: 250px;
  height: 35px;
}
footer .middle .left .email input:focus {
  outline: none;
}
footer .middle .right {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
footer .middle .right .col {
  display: flex;
  flex-direction: column;
}
footer .middle .right .col a {
  text-decoration: none;
  color: #343a40;
}
footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .bottom .right a {
  text-decoration: none;
  color: #343a40;
  margin-left: 10px;
}
footer .bottom .right a:hover {
  border-bottom: #343a40 1px solid;
}/*# sourceMappingURL=blog.css.map */